autostart/
btop/
dconf/
easyeffects/
epiphany/
evolution/
fontforge/
go/
goa-1.0/
google-chrome/
gtk-3.0/
gtk-4.0/
ibus/
nautilus/
nwg-look/
pulse/
qBittorrent/
session/
Thunar/
xfce4/
xsettingsd/
yay/
background
dolphinrc
easyeffectsrc
.gsd-keyboard.settings-ported
mimeapps.list
pavucontrol.ini
QtProject.conf
user-dirs.dirs
user-dirs.locale
